In [1]:
import pandas as pd 
import os, sys 

sys.path.append(os.path.dirname(os.getcwd()))

print(sys.path)

['C:\\Users\\user\\Documents\\FYP\\Code\\src\\backend\\s3_crystalball outcome _ammended\\data_repair', 'C:\\Users\\user\\anaconda3\\python39.zip', 'C:\\Users\\user\\anaconda3\\DLLs', 'C:\\Users\\user\\anaconda3\\lib', 'C:\\Users\\user\\anaconda3', '', 'C:\\Users\\user\\AppData\\Roaming\\Python\\Python39\\site-packages', 'C:\\Users\\user\\anaconda3\\lib\\site-packages', 'C:\\Users\\user\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\user\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\user\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\user\\Documents\\FYP\\Code\\src\\backend\\s3_crystalball outcome _ammended']

In [9]:
tickers = ['adbe', 'ge', 'intu', 'ms', 'vrtx', 'xom']

for ticker in tickers: 
    
    train = pd.read_csv(f'../{ticker}/data/train/OVERALL_prediction_by_model.csv')
    val = pd.read_csv(f'../{ticker}/data/val/OVERALL_prediction_by_model.csv')
    test = pd.read_csv(f'../{ticker}/data/test/OVERALL_prediction_by_model.csv')
    
    consol = pd.concat([train[['Date', 'close']], val[['Date', 'close']], test[['Date', 'close']]], axis = 0)
    consol = consol.set_index('Date')
    
    consol.to_csv(f'{ticker}_retrived_close.csv')

In [ ]:
    df = df.reset_index(drop = False)
    df['Date'] = df.apply(lambda x: x.Date.date(), axis = 1)
    df = df.set_index('Date')

In [13]:
from datetime import date, datetime

df = pd.read_csv(f'{ticker}_retrived_close.csv')
df['Date'] = df.apply(lambda x: datetime.strptime(x.Date, '%Y-%m-%d').date(), axis = 1)
df = df.set_index('Date')
df

                 close
Date
2013-01-02   55.648567
2013-01-03   55.548187
2013-01-04   55.805401
2013-01-07   55.159271
2013-01-08   55.504295
...                ...
2023-12-22  100.971611
2023-12-26  101.199486
2023-12-27  100.723907
2023-12-28   99.267441
2023-12-29   99.059380

[2768 rows x 1 columns]

In [2]:
ticker = 'xom'
import pandas as pd 
from datetime import datetime
df = pd.read_csv(f'{ticker}_retrived_close.csv')
df['Date'] = df.apply(lambda x: datetime.strptime(x.Date, '%Y-%m-%d').date(), axis = 1)
df = df.rename(columns = {'close':'Close'})
df = df.set_index('Date')

In [3]:
df

                 Close
Date
2013-01-02   55.648567
2013-01-03   55.548187
2013-01-04   55.805401
2013-01-07   55.159271
2013-01-08   55.504295
...                ...
2023-12-22  100.971611
2023-12-26  101.199486
2023-12-27  100.723907
2023-12-28   99.267441
2023-12-29   99.059380

[2768 rows x 1 columns]